<h1>{{title}}</h1>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Payment For</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Email</th>
            <th>Identifier</th>
        </tr>
        <tr data-ng-repeat="sub in contestents">
            <td>{{sub.id}}</td>
            <td>{{sub.date}}</td>
            <td>{{sub.competition}}</td>
            <td>{{sub.name}}</td>
            <td>{{sub.age}}</td>
            <td>{{sub.contact}}</td>
            <td>{{sub.phone}}</td>
            <td>{{sub.email}}</td>
            <td>{{sub.file_type}}</td>
            <td>{{sub.url}}</td>
            <td>{{sub.file_path}}</td>
            <td>{{sub.message}}</td>
            <td>{{sub.ipaddress}}</td>
        </tr>
    </table>
</div>
<ul>
    <li class="text-danger" ng-repeat="error in errors">{{ error}}</li>
</ul>
<ul>
    <li class="text-info" ng-repeat="message in msgs">{{ message}}</li>
</ul>
