    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalHeaderLabel"><span class="icon-fa fa fa-camera-retro text-danger"></span> {{ title}}</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <p class="lead">All contests will be judged by independent judges.</p>
            </div>
            <div class="row">
                <table class="table table-hover">
                    <th>
                        Age Group
                    </th>
                    <th>
                        Essay Topic
                    </th>
                    <tr>
                        <td>6 to 8 years</td>
                        <td>What does Durga puja mean to you? How do you celebrate it? Suggested size of the essay is 500 words.</td>
                    </tr>
                    <tr>
                        <td>9 to 12 years</td>
                        <td>You are about to celebrate your favorite festival with your family. You notice that your best friend in school is going through some problems...family problems or other monetary problems and as a result they won't be able to celebrate this year. What would you do in such a situation? Suggested size of the essay is 800.
                        </td>
                    </tr>
                    <tr>
                        <td>13 to 17 years</td>
                        <td>Maa Durga fought for good to win over evil. Can you cite such an example/s that you may have witnessed or heard of in your environment? Suggested size of the essay is 1000 words.</td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <p class="text-danger">** Judges desicions are final</p>
            </div>
          </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
