<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="modalHeaderLabel"><span class="icon-fa fa fa-money text-danger"></span> {{ title}}</h4>
</div>
<div class="modal-body">
    <div class="padded-section-small">
        <p class="lead">
            We sincerely appreciate your support and endorsements. If you want to make a PayPal payment, please click the button below. Please remember to print your paypal reciept to for tax purposes.
        </p>
        <hr class="featurette-divider">
        <div class="row text-center padded-section-small">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="GWURCZSWV7XWC">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
        <hr class="featurette-divider">
        <p>You can also send your donation check (payable to “Utsov Inc.”) to our mailing address:</p>
        <address>
            <strong>Utsov, Inc.</strong><br>
            31 Richard Road<br>
            Edison, NJ 08820<br>
        </address>
        <p>Please remember to send us your contact info if you want a reciept.</p>
    </div>
    <p class="text-primary">
        Utsov is a registered 501 3(c) not-for-profit organaization. Your entire donation may be tax-deductible. Please talk to your tax professional for details.
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>
