<h1>New Volunteer</h1>
<form role="form" data-ng-submit="SubmitVol()">
    <div class="form-group">
        <label for="volname">Name</label>
        <input type="text" class="form-control" id="volname" placeholder="Enter your name" data-ng-model="formData.volname">
    </div>
    <div class="form-group">
        <label for="voladd1">Street Address</label>
        <input type="text" class="form-control" id="voladd1" placeholder="Your mailing address (optional)" data-ng-model="formData.voladd1">
    </div>
    <div class="form-group">
        <label for="voladd2">Street Address</label>
        <input type="text" class="form-control" id="voladd2" placeholder="Your mailing address continued" data-ng-model="formData.voladd2">
    </div>
    <div class="form-group">
        <label for="volcity">City</label>
        <input type="text" class="form-control" id="volcity" placeholder="Your City" data-ng-model="formData.volcity">
    </div>
    <div class="form-group">
        <label for="volstate">State</label>
        <input type="text" class="form-control" id="volstate" placeholder="Your State" data-ng-model="formData.volstate">
    </div>
    <div class="form-group">
        <label for="volzip">Zip</label>
        <input type="text" class="form-control" id="volzip" placeholder="Your Zip" data-ng-model="formData.volzip">
    </div>
    <div class="form-group">
        <label for="volphone">Phone</label>
        <input type="text" class="form-control" id="volphone" placeholder="Your Phone" data-ng-model="formData.volphone">
    </div>
    <div class="form-group">
        <label for="volemail">Email address</label>
        <input type="email" class="form-control" id="volemail" placeholder="Your email" data-ng-model="formData.volemail">
    </div>
    <div class="form-group">
        <label for="volmsg">Anything you would like us to consider</label>
        <textarea class="form-control" rows="3" id="volmsg" data-ng-model="formData.volmsg"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Save Volunteer</button>
</form>
<div>
Status:
    <ul>
        <li class="text-danger" ng-repeat="error in errors">{{ error}}</li>
    </ul>
    <ul>
        <li class="text-info" ng-repeat="message in msgs">{{ message}}</li>
    </ul>
</div>
